-server
-Xmx8G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-Djdk.attach.allowAttachSelf=true
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.port=9486
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.authenticate=false
-javaagent:/opt/presto-server/etc/jmx_prometheus_javaagent-0.20.0.jar=9487:/opt/presto-server/etc/config.yaml
