-server
-Xmx8G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-Djdk.attach.allowAttachSelf=true
-javaagent:/opt/presto-server/lib/jmx_prometheus_javaagent-0.20.0.jar=9483:/opt/presto-server/etc/jmx_config.yaml
